body{
    font:14px / 1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    margin:0;padding:0;
}
p,ul,li,h1,h2,h3,h4,h5,h6,input,a,dl,dt,dd{
    margin:0;padding:0;list-style:none;
    text-decoration:none;border:none;
}
a:visited{
    color:#333;
}
a:hover{
    color:#FA1F21;
}
.clearfix:after{content: '';display: table;clear:both}
.clearfix{*zoom:1;}
.lt{
    float:left;*display: inline;
}
.gt{
    float:right;*display: inline;
}
.header{
    width:100%;
}
.header_top{
    width:100%;
    background-color:#333;
    color:#B0B0AB;
}
.header_top .top{
    width:1200px;
    height:38px;
    line-height:38px;
    margin:0 auto;
}
.header_top .logo img{
    height:100px;
}
.top h3{
    font-weight: 400;
    font-size: 12px;
    color:#B0B0AB;
}
.top span a{
   color:#B0B0AB;
}
.login{
    margin-left:5px;
}
.login>*{
    float:left;
    color:#B0B0AB;
    font-size:12px;
}
.login a{
    color:#B0B0AB;
    margin:0 7px;
}
.top_gt .member a,.top_gt .cart a{
    display:block;
    height: 38px;
    line-height:38px;
    padding:0 11px;
    color:#B0B0AB;
    font-size:12px;
}
.top_gt .cart a{
    padding-left:30px;
    background:url("cart.png") no-repeat 5px 1px;
}
.top_gt a:hover{
    background-color:#424242;
}
.topbar{
    width:1200px;
    margin:0 auto;
    height:100px;
    overflow: hidden;
}
.topbar .nav{
    height:100px;
    margin-left:83px;
    width: 720px;
    overflow: hidden;
}
.topbar .nav .MenuList{
    width:710px;
    overflow: hidden;
}
.nav li{
    float:left;
    color:#333;
    height:100%;
}
.nav a{
    font-size:16px;
    padding:0 15px;
    line-height: 100px;
    color:#333;
}
.btn_advsearch{
    display: none;
}
.inputstyle{
    border-color:#ddd;
}
.search{
    position: relative;
    top:-98px;
    left:2px;
}
.search_label{
    position:relative;
    top:1px;
}
.SearchBar table td{
    vertical-align: bottom;
    padding: 0;
}
.search .inputstyle{
    width:134px;
    height:34px;
    line-height:34px;
    border:1px solid #D5D5D5;
    margin-top:30px;
    padding-left: 40px;
    background:url("search.jpg") no-repeat 0 2px;
}
.search .btn_search{
    width:90px;
    height:36px;
    line-height:36px;
    color:#fff;
    background-color:#525455;
    border:none;
    position: relative;
    top:1px;
    left:-4px;
    cursor: pointer;
    font-size:14px;
    font-weight: 600;
    top:-1px\0;
    *top:0;
    letter-spacing: 12px;
    text-indent: 15px;
}
.header_body{
    width:1200px;
    margin:0 auto;
    overflow: hidden;
}
.side{
    width:229px;
}
.side_list{
    height:465px;
    background-color:#525455;
    position:relative;
}

.side_list ul{
    height:435px;
    padding:15px 0;
}
.side_list ul li{
    width:175px;
    padding:14px 25px 14px 30px;
}
.side_list ul li>*{
    color:#fff;
}
.side_list .c-cat-depth-1 a{
    display:block;
    position:relative;
    color:#CDCDCE;
    font-weight: 400;
    font-size:15px;
    background: url("goods_icon.png") no-repeat center right;
}

.c-cat-depth-2{
    display:none;
    width:598px;
    height:464px;
    position:absolute;
    top:0;
    left:229px;
    background:#fff;
    border:1px solid #ddd;
    border-left:0;
}
.c-cat-depth-2 tr{
    margin-top:40px;
}
.c-cat-depth-1:hover .c-cat-depth-2{
    display:block;
}
.side_list .c-cat-depth-2 td a{
    color:#333;
    font-weight:600;
    padding-left:20px;
}
.c-cat-depth-2 tr{
    display: block;
    margin-top:40px;
}
.banner {
    width: 970px;
    height: 465px;
}
.main{
    width:1200px;
    margin:20px auto 35px;
}
.day_groups{
    width:100%;
    height:210px;
}
.dg_left img{
    width:229px;
    height:210px;
}

.dg_right{
    margin-left:20px;
    width:950px;
    overflow: hidden;

}
.dg_pic{
    margin-left:55px;
}
.dg_right>*{
    float:left;
    display:inline;
    height:210px;
}
.dg_right .list_lt,.dg_right .list_gt{
    width:55px;
    line-height:210px;
    font-size:20px;
    cursor: pointer;
}
.dg_right .list_lt{
    background: url("icon_l.jpg") no-repeat;
}
.dg_right .list_gt{
    background: url("icon_r.jpg") no-repeat;
}
.list_details{
    width:840px;
    height:210px;
    position:relative;
    overflow: hidden;
}
.list_details ul{
    position: relative;
    left:0;
}
.list_details ul li,.list_details img{
    width:210px !important;
    height:210px;
}
.list_details ul li{
    float:left;
}
.section{
    width:100%;
    background-color:#F5F5F5;
    padding-bottom:50px;
    overflow: hidden;
}
.pageProduct .section{
    background-color:#FFF;
    margin-bottom:20px;
}
.pageProduct .FormWrap{
    background: #fff!important;
    border:none;
}
.floor{
    width:1200px;
    margin:20px auto ;
}
.floor .title{
    width:100%;
    height:70px;
    line-height:70px;
}
.title h1{
    font-size:24px;
    font-weight: normal;
    color:#333;
}
.more ul li{
    float:left;
    margin-left:10px;
}
.more .c-cat-depth-1 a{
    font-size:15px;
    color:#333;
    font-weight:400;
}
.floor_bd .side{
    float:left;
    *display:inline;
    overflow: hidden;
}
.floor .floor_list{
    width:970px;
    float:left;
    margin-top:-3px;
}
.floor02_lt li{
    margin-bottom:15px;
}
.GoodsList{
    margin-left:2px;
}
.itemsWrap{
    position:relative;
    margin-left:15px;
    *margin-left:13px;
    width: 227px !important;
    height:270px;
    margin-bottom: 12px;
    background-color: #fff;
}
.itemsWrap h6{
    position: relative;
    top:20px;
    *top:25px;
    font-size: 12px;
}
.itemsWrap h6 a{
    color:#999;
}
.itemsWrap span.save1,.itemsWrap span.save0{
    position:relative;
    top:-43px;
}
.itemsWrap span.price0,.itemsWrap span.price1{
    font-size:15px;
}
.itemsWrap span.price0{
    display: none;
}
.itemsWrap span.price1{
    color:#F00000;
    font-weight: bold;
    font-size:16px;
    position: relative;
    top:23px;
}
.recommend_bd{
    width:100%;
}
.recommend_bd .itemsWrap{
    margin-left:0;
    margin-right:15px;
    width:228px;
    height:270px;
    background-color: #fff;
}
.recommend_bd .itemsWrap.last{
    margin-right:0;
}
.recommend_bd .goodsImg{
    padding-top:15px;
}
.footer{
    width:100%;
}
.footer .container{
    width:1200px;
    margin:0 auto;
    overflow: hidden;
}
.footer_service ul li{
    float: left;
    width:200px;
}
.footer_service a{
    display: block;
}
.footer_service img{
    width:200px;
    height:85px;
}
.footer_links{
    width:100%;
    background-color: #F6F6F6;
    overflow: hidden;
    padding-bottom:50px;
    margin-top:15px;
}
.themefoot{
    background:#F6F6F6;
    margin-top:-1px;
}
.footer_links .container{
    margin-top:30px;
}
.container>div{
    width:180px;
    float:left;
}
.TreeList .cat2{
    padding-left:0;
    margin-top:7px;
    color:#666;
}
.TreeList .cat2 a{
    font-size:15px;
}
.footer_links div h2{
    font-size:16px;
    font-weight: bold;
    color:#333;
}
.footer_links .guide{
    width:200px;
}
.footer_links .us{
    width:130px;
}
.container .code{
    width:150px;
}
#MainWrap{
    width:1200px;
    margin:0 auto 50px;
    overflow: hidden;
}
.gallery{
    width:100%;
    background-color:#F6F6F6;
}
.gallery #MainWrap{
    color:#666;
    position:relative;
}
.gallery .Navigation{
    border:none;
    padding-top:10px;
    line-height: 40px;
    margin-bottom:10px
}
.gallery .Navigation span{
    font-weight:400;
    color:#666;
    margin-right:8px;
}
.gallery .Navigation span a{
    color:#666;
    text-decoration: none;
}
.gallery .Navigation span a:visited{
    color:#666;
}
.gallery .boxGray{
    border:none;
    padding:0;
}
.gallery .division tr{
    width:100%;
    height:40px;
    line-height:40px;

}
.gallery .division .textright{
    color:#303030;
    padding-left: 25px;
    padding-right:75px!important;
    font-size:12px;
}
.gallery .division td{
    border-bottom:1px dotted #ddd;
    line-height: 40px!important;
}
.gallery .division td a{

    font-size:13px;
    color:#005AA4;
    margin:8px 10px 8px 10px;
    padding:5px 8px;
}
.boxGray{
    background-color:#fff;
}
.search_total{
    font-size:12px;
    margin-left:100px;
    position:relative;
    top: 31px;
}
.gallery .title{
    border:1px solid #ddd;
}
.gallery .title table{
    vertical-align: middle;
    border:none;
    padding:8px 0
}
.gallery .filtmode{
    text-align:right;
    position:absolute;
    right:220px;
    top:8px;
}
.gallery .title{
    position:relative;
}
.gallery .title .listmode{
    margin-left:10px;
}
.gallery .listorder{
    position:absolute;
    right:10px;
    top:10px;
}
.gallery .title .listorder a,.gallery .title .listorder  span{
    width:58px;
    height:22px;
    line-height:22px;
    border:1px solid #ddd;
    margin-left:8px;
}
.gallery .title .listorder a:hover{
    background:none;
    background-color:#fff;
}
.gallery .title .listorder i{
    background:url("up.jpg") no-repeat right 2px;
}
.gallery .title .listorder a:hover i{
    background:url("up.jpg") no-repeat right 2px;
}
.gallery .title .listorder .list_desc_on,.gallery .title .listorder .list_asc_on{
    border:1px solid #FA1F21;
    background-color:#FFF3F3;
}
.gallery .title .listorder .list_desc_on i{
    background:url("down.jpg") no-repeat right 3px;
    color:#FA1F21;
}
.gallery .title .listorder .list_desc_on:hover i{
    background:url("down.jpg") no-repeat right 3px;
}
.gallery .title .listorder .list_asc_on i{
    background:url("up2.jpg") no-repeat right 4px;
    color:#FA1F21;
}
.gallery .title .listorder .list_asc_on:hover i{
    background:url("up2.jpg") no-repeat right 4px;
}
#gallerybar.fixed{
    border-color:#ddd;
}
#gallerybar.fixed .pager{
    display: none;
}
.gallery .grid{
    margin-left:-20px;
    margin-bottom:55px;
    width:1220px;
}
.gallery .items-gallery{
    border:none;
}

.gallery .grid td{
    background-color:#F6F6F6;
}
.gallery .items-gallery{
    margin-top:20px;
    margin-left:20px;
    padding:0;
    background-color: #fff;
}
.gallery .grid .goodpic{
    width:250px!important;
    height: auto !important;
    margin:0 auto 20px;
    border-bottom:1px solid #ddd;
}
.gallery .goodpic a{
    width: 224px !important;
    height: 224px !important;
    padding: 35px 10px;
}
.gallery .grid .goodpic a img{
    width: 224px;
    height: 224px;
}
.gallery .grid .goodinfo{
    width:254px;
    margin:20px auto 0;
}
.gallery .grid .goodinfo td{
    background:#fff;
}
.gallery .grid .goodinfo h6{
    text-align: left;
    margin-bottom:12px; ;
}
.gallery .grid .goodinfo h6 a{
    color:#303030;
    font-size:16px;
    line-height: 20px;

}
.gallery .grid .button{
    margin-top:-3px;
    margin-bottom:15px;
}
.gallery .grid .goodinfo .price1{
    color:#FA1F21;
    font-size:24px;
}
.gallery .title .pager{
    position:absolute;
    top:-50px;
    right:0;
    background:#F6F6F6;
}
.gallery .boxBrown{
    background:#fff;
    border-color:#E1E1E1;
}
.gallery .boxBrown,.gallery .division{
    padding:0;
}
.gallery .items-list .goodinfo h6,.gallery .items-list .price_button ul{
   margin-top:50px;
}
.gallery .GoodsSelector{
    background-color:#F6F6F6;
}
.GoodsSelector  table{
    margin-bottom: -1px;
    overflow: hidden;
}
#gallerybar .pager td{
    padding:0;
}
.pager .pagecurrent{
    background:none;
    color:#FA1F21;
    margin-right:0;
    border-color:#F6F6F6;
}
.pager .pageall{
    margin-left:6px;
    margin-right:10px;
}
.pager .prev,.pager .next,.pager .unprev,.pager .unnext,.pager .onprev,.pager .onnext{
    width:50px;
    height:25px;
}
.pager .prev{
    background:url("prev1.jpg") no-repeat 0;
    *background-position:-1px -1px;
}
.pager .next{
    background:url("next1.jpg") no-repeat 0;
    *background-position:0 -1px;
}
.pager .onprev{
    background:url("prev2.jpg") no-repeat -1px ;
    *background-position:-1px -1px;
}
.pager .onnext{
    background:url("next2.jpg") no-repeat 0;
    *background-position:0 -1px;
}
.pager .unprev{
    background:url("prev3.jpg") no-repeat 0;
    *background-position:-1px -1px;
}
.pager .unnext{
    background:url("next3.jpg") no-repeat 0;
    *background-position:0 -1px;
}
.gallery .floatRight{
    float:right;
}
.gallery .floatRight td a,.gallery .floatRight td strong,.gallery .floatRight td span{
    float:left;
    width:35px;
    height:35px;
    margin:0 2px;
    background-color:#fff;
    font-size: 12px;
    color:#ACACAC;
    line-height:35px;
    text-align:center;
    padding:0;
    border:none;
}
.gallery .floatRight a:hover{
    color:#fff;
    background-color:#898989;
    border:none;
    padding:0;
    margin:0 2px;
}
.gallery .floatRight .pagecurrent{
    color:#fff;
    background-color:#FA1F21;
}
.gallery .floatRight .unprev,.gallery .floatRight .onprev{
    background:url("unprev.jpg") no-repeat;
}
.gallery .floatRight .prev{
    background:url("prev.jpg") no-repeat;
}
.gallery .floatRight .unnext,.gallery .floatRight .onnext:hover{
    background:url("unnext.jpg") no-repeat;
}
.gallery .floatRight .next{
    background:url("next.jpg") no-repeat;
}
.gallery .recommend{
    margin-top:50px;
    padding-bottom:50px;
}
.gallery .recommend h2{
    font-size:25px;
    font-weight:400;
    color:#303030;
}
.gallery .GoodsListWrap{
    margin-top:30px;
}
.gallery .GoodsList{
    margin-left:-12px;
}
.gallery .itemsWrap h6{
    top:15px;
}
.gallery .itemsWrap h6,.gallery .item ul{
    width:190px;
    margin:0 auto;
}
.gallery .item h6,.gallery .shoujia{
    text-align:left;
}
.gallery .item h6 a{
    color:#666;
}
.gallery .item ul{
    margin-top:10px;
    *margin-top:-5px;
}
.gallery .itemsWrap .price1{
    font-size:20px;
    float: left;
}
.gallery .itemsWrap .shoujia{
    margin-top:10px;
}
.gallery .itemsWrap{
    overflow: visible ;
    height:310px;
}
.gallery .goodsImg{
    height:205px !important;
    border-bottom:1px solid #DEDEDE;
}
.gallery .goods-spec a:hover{
    border-color:#FB393B;
}
.pageProduct .GoodsPackageWrap .plus{
    padding-top:60px;
}
.pageProduct .GoodsPackageWrap{
    background: none;
    background:#fff;
}
.pageProduct{
    background-color:#F6F6F6;
}
.pageProduct #MainWrap{
    width:1200px;
    overflow: hidden;
}
.pageProduct .GoodsInfoWrap{
    margin-top:50px;
}
.pageProduct #goods-viewer table{
    background-color:#fff;
    overflow: visible;
}
.pageProduct .goodspic{
    width:500px;
    height:590px;
    *height:610px;
}
.pageProduct .goods-detail-pic img,.pageProduct .goods-detail-pic a,.pageProduct .goods-detail-pic{
    width: 460px !important;
    height: 460px !important;
}
.pageProduct .goods-detail-pic{
    margin-top:20px;
}

.pageProduct .picscroll .toright,.pageProduct .picscroll .toleft{
    width: 35px;
}
.pageProduct .picscroll .toright{
    background:url("gt.jpg") no-repeat 0 8px;
}
.pageProduct .picscroll .toleft{
    background:url("lt.jpg") no-repeat 0 8px;
}
.pageProduct .current .uparrow{
    display:none;
}
.pageProduct .current a,.pageProduct a:hover img,.pageProduct .current a:hover{
    border-color:#FB393B;
}
.pageProduct .GoodsInfoWrap .goodsname{
    font-size:20px;
    font-weight:400;
    color:#303030;
    margin-top:20px;
}
.pageProduct .GoodsInfoWrap .goodsprops{
    border:none;
}
.pageProduct .goods-price{
    background-color:#F6F6F6;
    margin-right:20px;
}
.pageProduct .GoodsInfoWrap .goodsprops span{
    font-size:13px;
    font-weight:600;
    color:#666;
}
.pageProduct .GoodsInfoWrap .goodsprops li,.pageProduct .GoodsInfoWrap .goodsprops a{
    font-size:13px;
    color:#666;
}
.pageProduct .GoodsInfoWrap .goodsprops li{
    padding:5px 0;
}
.pageProduct .GoodsInfoWrap .goodsprops span#goodsBn{
    font-weight: 400;
}
.pageProduct ul.list li{
    background: none;
    border:none;
    padding: 5px 0 5px 20px ;
}
.pageProduct .pdtdetail .indent{
    margin-top:25px;
    text-align: center;
}
.pageProduct .price1{
    color:#FA1F21;
    font-size:20px;
}
.pageProduct .hightline{
    width:660px;
    border:none;
    background:#fff;
    margin-top:25px;
}
.pageProduct .hightbox{
    border:none;
    border-top:1px dotted #D4D4D4;
    padding:10px 5px;
}
.pageProduct #view-products-list a{
    color:#FB393B;
}
.pageProduct #view-products-list a:hover{
    background-color:#FB393B;
    color:#fff;
}
.pageProduct .goods-spec a:hover{
    border-color:#FB393B;
}
.goods-spec .selected, .goods-spec .selected:hover, .goods-spec .selected span, .goods-spec .selected:hover span, .goods-spec .selected:hover img, .goods-spec .selected img{
    border-color:#FB393B;
}
.pageProduct .Numinput{
    padding-left:0;
}
.pageProduct .Numinput input{
    width:40px;
    height:20px;
    border:1px solid #ddd;
    padding-left:5px;
    box-shadow:inset 2px 2px 5px #ddd;
}
.pageProduct .goods-spec a i{
    background:url("item_ok.png") no-repeat -2px -3px;
    z-index: 999;
}
.pageProduct .btn-fastbuy,.pageProduct .btn-buy{
    width:150px;
    height:36px;
}
.pageProduct .btn-fastbuy{
    background:url("ljgm_03.jpg") no-repeat;
    margin-right:20px;
}
.pageProduct .btn-buy{
    background:url("jrgwc_03.jpg") no-repeat;
}
.pageProduct .GoodsInfoWrap .btnBar{
    margin-top:20px;
}
.pageProduct .buyinfo{
    padding-bottom: 25px;
    border-bottom: 1px dotted #D4D4D4;
}
.pageProduct .Numinput .numadjust.increase{
    top:2px;
}
.pageProduct .picscroll .scrollarrow{
    visibility: visible;
}
.pageProduct .goods-detail-pic-thumbnail{
    width:360px;
}
.pageProduct .picscroll .pics td{
    padding:0 5px;
}
.pageProduct .btnBar .btn-fav:hover{
    color:#FB383C;
}
.pageProduct .addtocart img{
    background:url("dandu.jpg") no-repeat 0 0!important;
}
.pageProduct .priceinfo a img{
    background:url("kunbang.jpg") no-repeat!important;
}
.dialog-title .dialog-close-btn,.mini-passport-dialog .row-span .close{
    border:none!important;
    background-color:#FA1F21!important;
}
.dialog .btn-login{
    background: url("denglu_m.jpg") no-repeat;
}
.dialog{
    border-color:#FA1F21;
}
.dialog-title .dialog-close-btn:hover{
    background:#FA2E2E!important;
    color:#fff;
}
.dialog .RegisterWrap #formlogin{
    border:none;
}
.dialog .btn-register{
    background:url("zhuce_m.jpg") no-repeat;
}
.mini-passport-dialog .row-span a{
    color:#FA1F21;
}
.mini-cart-dialog .btn-viewcart,.mini-cart-dialog .btn-continue{
    background:none;
    background-color:#FB383C;
    text-indent: 0;
    color:#fff;
    padding:1px 3px;
}

.goods-detail-tab {
    background:none;
    height:36px;
    border:none;
    background-color:#DEDEDE;
    padding:0;
}
.goods-detail-tab .active,.goods-detail-tab div{
    background:none;
}
.goods-detail-tab .goodsDetailTab{
    margin:0;
    padding:0;
    height:32px;
    background:#EFEFEF;
    margin-top:4px;
    margin-right:4px;
    width:100px;
}
.goods-detail-tab .goodsDetailTab.active{
    background:#fff;
}
.goodsDetailTab span{
    line-height: 36px;
    font-size:12px;
    color:#343434;
}
.goodsDetailTab.active{
   border-top:2px solid #FB393B;
    height:34px;
    margin-top:1px;
    width:100px;
}
.goodsDetailTab.active span{
    font-size:15px;
    font-weight:600;
    color:black;
}
.gallery .ItemsWarp{
    background:#fff;
    margin-bottom:60px;
}
.ItemsWarp .price1{
    font-size:24px;
    color:#FA1F21;
}
.ItemsWarp .mktprice1{
    margin-left:20px;
}
.ItemsWarp .saveprice1{
    color:#FA1F21;
}
.GoodsSearchWrap .ItemsWarp .price_button .button{
    margin-top: 20px;
}
.ItemsWarp .goodpic img{
    width:224px;
    height:224px;
}
.ItemsWarp .goodinfo h6{
     font-size:16px;
}
.pageProduct .inputstyle{
    border-color:#ccc;
}
.passport .RegisterWrap{
    float:none!important;
    margin:0 auto;
    padding:30px!important;
    width:auto!important;
}
.passport #MainWrap{
    margin-bottom:50px;
}
.passport .RegisterWrap #formlogin {
    border: none;
}
.passport .inputstyle{
    border-color:#ccc;
    width:310px;
    height:20px;
    padding:8px 10px;
}
.passport #iptlogin,.passport #iptsingup{
    width:170px;
}
.passport #formlogin{
    height:auto !important;
}
.passport #formlogin td>*{
    float: left;

}
.passport #formlogin td a{
    margin-top:7px;
}
.passport #formlogin td span{
    margin-top:10px;
    margin-left:10px;
}
.passport #formlogin table{
    border-collapse:separate; border-spacing:20px;
}
.passport .form table{
    border-collapse:separate; border-spacing:20px;
}
.RegisterWrap .form{
    border:0;
}
.passport .btn-register,.passport .btn-login,.passport .btn-forgetpass{
    width:330px;
    height:40px;
}
.passport .btn-forgetpass{
    background:url("quhui.jpg") no-repeat;
}
.passport .btn-login{
    background:url("denglu.jpg") no-repeat;
}
.passport .btn-login:hover{
    background:url("denglu_h.jpg") no-repeat;
}
.passport .btn-register{
    background:url("zhuce.jpg") no-repeat;
}
.passport .btn-register:hover{
    background:url("zhuce_h.jpg") no-repeat;
}

.member #MainWrap>div{
    width: 1200px!important;
}
.member .MemberSidebar .MemberMenuList li{
    padding-top:6px;
    padding-bottom:6px;
}
.MemberMenu{
    background:none;
}
.MemberMenu a b{
    font-weight:normal;
}


.cart .cart-product-img{
    width: 100px !important;
    height: 100px !important;
    padding:5px;
}
.cart .cart-product-img img{
    width:80px;
    height:80px;

}
.cart .division td{
    vertical-align: middle;
}
.cart .FormWrap{
    background: white;
    border:none;
}
.cart #cart-coupon .x-input{
    border:1px solid #ddd;
    padding:1px 3px;
    padding:4px\9;
}
.cart #cart-coupon-submitBtn{
    background-color:#FB383C;
    color:#fff;
    padding:1px 5px;

}
.cart .FormWrap .division,.cart .liststyle td,.cart .liststyle th,.cart .liststyle{
    border:none;
}
.cart .liststyle thead th{
    background:none;
    font-size:14px;
    font-weight:400;
    color:#333;
    padding:23px
}
.cart .liststyle td>a{
    padding-left:23px;
    text-decoration: none;
}
.cart .itemTotal{
    color:#FF0000;
}
.cart .Numinput input{
    height:20px;
    line-height:20px
}
.cart .btn-next{
    background:url("jiesuan.jpg") no-repeat;
}

.cart #order-create td h3{
    vertical-align: top;
}
.cart .liststyle.data td,.cart .liststyle.data th{
    padding:10px 0;
}
.cart .product-list-img{
    margin:0 auto;
}
.cart .division th.product{
    text-align:left;
    padding-left:4px;
}
.cart .liststyle.data .price1{
    color:#FA1F21;
}
.cart .CartBtn{
    margin-top:10px;
}
.cart .CartBtn .btn-confirm{
    background:url("xiadan.jpg") no-repeat;
}
.GoodsList .item{
    padding:15px 0 0 0;
}
.more{
    margin-top:0;
}
.GoodsCategoryWrap ul li{
    float: left;
    text-align: left;
}
.section .GoodsCategoryWrap ul li{
    *width:70px;
}
.pageProduct .FormWrap{
    padding:7px 0;
}
.pageProduct .addcomment .division{
    border:none;
}
.RegisterWrap .form table th i{
    color: #FA1F21;
}

.pageProduct .recommend{
    margin-top:30px;
}
.pageProduct .recommend h1{
    font-weight:400;
    color:#303030;
    font-size:20px;
}
.pageProduct .recommend,.pageProduct .GoodsListWrap{
    width:225px;
    float:left;
}
.pageProduct .GoodsListWrap{
    margin-top:15px;
}
.pageProduct .goods-detail-tab,.pageProduct .clear,.pageProduct .section{
    float:right;
    width:960px;
}
.pageProduct #goods-viewer .clear{
    display:none;
}
.pageProduct .itemsWrap{
    margin-left:0;
    height:330px;
}
.pageProduct .goodsImg{
    padding-bottom:18px;
    border-bottom:1px solid #DEDEDE;
}
 .item h6 a{
    color:#666
}
.pageProduct .item h6{
    top:20px;
}
.pageProduct .item h6, .pageProduct .item ul{
    width:189px;
    margin:0 auto;
}
.pageProduct .item ul{
    margin-top:10px;
}
.pageProduct .item h6{
    text-align: left;
    top:10px;
    font-size:13px
}
.pageProduct .GoodsListWrap span.price1{
    top:10px;
    float: left;
    font-size:22px;
}




