<div class="boxCenterList clearfix">
    <h5 class="title-text">您的包裹已被签收</h5>
    <div class="orderstep" id="orderStep">
      <ol>
        <li class="first">
          <div class="step-done">
            <div class="step-name">拍下宝贝</div>
            <span class="after">拍下宝贝</span>
            <div class="step-time">
              <div class="step-time-wraper">2016-03-27 18:02:34</div>
            </div>
          </div>
        </li>
        <li>
          <div class="step-done">
            <div class="step-name">付款到支付宝</div>
            <span class="after">付款到支付宝</span>
            <div class="step-time">
              <div class="step-time-wraper">2016-03-27 18:02:55</div>
            </div>
          </div>        </li>
        <li>
          <div class="step-done">
            <div class="step-name">卖家发货</div>
            <span class="after">卖家发货</span>
            <div class="step-time">
              <div class="step-time-wraper">2016-03-27 22:00:02</div>
            </div>
          </div>        </li>
        <li class="last">
          <div class="step-cur">
            <div class="step-name">确认收货</div>
            <span class="after">确认收货</span>
            <div class="step-time">
              <div class="step-time-wraper">2016-03-31 07:28:06</div>
            </div>
          </div>
        </li>
      </ol>
    </div>
    <div class="order-dashboard">
      <div class="trade-status">
        <strong>当前订单状态：<span class="wait">交易已成功</span>
        </strong>
      </div>
      <div class="delivery-hd">
        <strong>物流信息</strong>
      </div>
      <div class="hint-bar">
        <span>若快递公司未经您允许将包裹放置在智能快件箱（即自提柜）中，您有权拒收。</span>
      </div>
      <ul class="flow-status">
        <li>
          <span class="tit">发货方式：</span>
          <span class="inf">快递</span>
        </li>
        <li>
          <span class="tit">物流公司：</span>
          <span class="inf">圆通快递</span>
        </li>
        <li>
          <span class="tit">运单号码：</span>
          <span class="inf">211152568693</span>
        </li>
        <li>
          <span class="tit">物流跟踪：</span>
          <ul class="child">
            <li class="first">
              <span class="time">2016-04-05 20:04:30</span>
              <span class="detail">【天台城区分布】揽收成功</span>
            </li>
            <li>
              <span class="time">2016-04-05 20:04:30</span>
              <span class="detail">【天台城区分布】揽收成功</span>
            </li>
            <li>
              <span class="time">2016-04-05 20:04:30</span>
              <span class="detail">【天台城区分布】揽收成功</span>
            </li>
            <li>
              <span class="time">2016-04-05 20:04:30</span>
              <span class="detail">【天台城区分布】揽收成功</span>
            </li>
            <li>
              <span class="time">2016-04-05 20:04:30</span>
              <span class="detail">【天台城区分布】揽收成功</span>
            </li>
            <li class="last">
              <span class="time">2016-04-05 20:04:30</span>
              <span class="detail">【天台城区分布】揽收成功</span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="tabs-container" id="J_TabView">
      <ul class="tabs-nav">
        <li class="current"><strong>订单信息</strong></li>
      </ul>
      <div class="tabs-panels">
        <div class="info-box order-info" style="display: block;">
          <table>
            <tbody class="address-info">
              <tr>
                <td class="address" colspan="1">收货地址：</td>
                <td colspan="8">哈哈， 15111112222， 上海 上海哈哈区哈路哈哈街道哈哈哈楼哈哈哈小区，23333</td>
              </tr>
              <tr>
                <td colspan="1">买家：</td>
                <td class="name" colspan="8">家居家居点</td>
              </tr>
              <tr class="sep-row">
                <td colspan="10"></td>
              </tr>
            </tbody>
            <tbody class="contact-info">
              <tr>
                <th colspan="8"><h4>卖家信息</h4></th>
              </tr>
              <tr>
                <td colspan="3"> 昵称： <span class="nickname">西家居店</span>
                  <span data-nick="朴西家居店" data-item="0:1382518435753715" data-display="inline" title="点此可以直接和卖家交流选好的宝贝，或相互交流网购体验，还支持语音视频噢。"></span></td>

                <td colspan="4"> 真实姓名： <span class="name">陈初文</span>
                </td>
                <td colspan="3">城市：<span class="city"> </span></td>
              </tr>
              <tr>
                <td colspan="3">联系电话：<span class="tel"></span></td>
                <td colspan="4">邮件：***
                </td>
                <td colspan="3">支<span style="padding: 0.5em;">付</span>宝：1***</td>
              </tr>
            </tbody>

            
            <tbody class="misc-info">
              <tr class="sep-row">
                <td colspan="10"></td>
              </tr>
              <tr>
                <th colspan="8"><h4>订单信息</h4></th>
              </tr>
              <tr>
                <td colspan="3">
                  <span class="label">订单编号：</span>
                  <span class="order-num">1382518435753512</span>
                </td>
                <td colspan="4" style="text-align:center">
                  <span class="label">交易号：</span> <span class="alilay-num">421415231235121</span>
                </td>
                <td colspan="3" style="text-align:right">
                  <span class="label">创建时间：</span>
                  <span class="trade-time">2015-11-11 00:20:06</span>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <span class="label">付款时间：</span>
                  <span class="pay-time">2015-11-11 00:20:20</span>
                </td>
                <td colspan="4" style="text-align:center">
                  <span class="label">发货时间：</span>
                  <span class="confirm-time">2015-11-18 08:37:09</span>
                </td>
              </tr>
            </tbody>

            
            <tbody class="order">
              <tr class="sep-row">
                <td colspan="10"></td>
              </tr>
              <tr class="order-hd">
                <th colspan="3" class="item">宝贝</th>
                <th colspan="1" class="sku">宝贝属性</th>
                <th colspan="1" class="status">状态</th>
                <th colspan="1" class="price">单价(元)</th>
                <th colspan="1" class="num">数量</th>
                <th colspan="2" class="discount">优惠</th>
                <th colspan="1" class="order-price">商品总价(元)</th>
              </tr>
              <tr class="order-item">
                <td colspan="3" class="item">
                  <div class="pic-info">
                    <div class="pic s40">
                      <a hidefocus="true" href="" target="_blank" title="商品图片">
                        <img alt="纯棉格子软底家居棉拖鞋 情侣韩国室内秋冬天居家防滑月子鞋" src="//gtd.alicdn.com/bao/uploaded/i3/2394176687/TB29GtScpXXXXXcXXXXXXXXXXXX_!!2394176687.jpg_sum.jpg ">
                      </a>
                    </div>
                  </div>
                  <div class="txt-info">
                    <div class="desc">
                      <span class="name"><a href="" title="" target="_blank" style="color:#36c;">纯棉软底家居棉拖鞋 情侣韩国室内秋冬天居家防滑鞋</a></span>
                      <span class="good-icons">
                  </span></div>
                </div></td>
                <td colspan="1" class="sku">
                  <div class="props">
                    <span>颜色分类: 粉色</span><br>
                    <span>尺码: 240</span>
                  </div>
                </td>
                <td colspan="1" class="status">
                  已确认收货
                </td>
                <td colspan="1" class="price">139.00</td>
                <td colspan="1" class="num">1</td>
                <td colspan="2" class="discount">
                  <ul>
                    <li>淘宝嘉年华:省99.20元</li>
                  </ul>
                </td>
                <td class="order-price">
                  74.60<br>
                  （快递： 6:00）
                </td>
              </tr>
              <tr class="order-ft">
                <td colspan="10">
                  <div class="get-money" colspan="6">
                    <br>
                    订单总金额：
                    <strong>74.60</strong>元<br>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>


<!-- <div class="MemberMain">
<div style="margin-right:175px;">

<div class="title"><{t}>订单详情<{/t}></div>
  <div class="note" style='border-width:1px;background:#fff;'>
    <ol>
      <{foreach from=$orderlogs item=action name="orderlog"}>
      <li><span class="date"><{$action.acttime|cdate:FDATE_STIME}></span>&nbsp;&nbsp;&nbsp;&nbsp;<{$action.log_text}></li>
      <{/foreach}>
    </ol>
  </div>
  
    
    <div class='notice' style='border-width:1px;background:#fff;'>
	
   <{if $order.status=='active' && ($order.pay_status == 0 || $order.pay_status == 3)}>
        <h4 class='fontcolorRed'><{t}>您尚未完成订单(<{$order.order_id}>).<{/t}></h4>
       
   
       <div style="float:left; width:620px;"><a href="<{link ctl=member act=orderpay arg0=$order.order_id}>"><{t}><image src="statics/btn-payorder.gif" /><{/t}></a>
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="<{link ctl=member act=addOrderMsg arg0=$order.order_id arg1=1}>"><{t}><image src="statics/btn-haspay.gif" /><{/t}></a></div>
   <{/if}>
      <div style="float:left;">   <a href="<{link ctl=member act=addOrderMsg arg0=$order.order_id arg1=0}>"><{t}><image src="statics/btn-question.gif" /><{/t}></a></div>
      <div style=" clear:both;"></div>
      
    </div>
 
  
    <{require file="common/orderinfo.html"}>
    
<{if $ordermsg}>
<div class="FormWrap">
    <h4><{t}>订单留言<{/t}></h4>
    <div class="division">
    <table border="0" cellspacing="0" cellpadding="0" class="liststyle data" width="100%">
    <{foreach from=$ordermsg item=msgitem name="ordermsg"}>
    <tr>

    <td width="25%">
    <strong><{t}>时间：<{/t}></strong><{$msgitem.date_line|usertime}>
    </td>

    <td width="45%">
    <strong><{t}>标题：<{/t}></strong><{$msgitem.subject}>
    </td>

    <td>
    <strong><{t}>留言人：<{/t}></strong><{$msgitem.msg_from}>
    </td>

    </tr>

    <tr>
    <td colspan=3>
    <{$msgitem.message|nl2br}>
    </td>

    </tr>
    <{/foreach}>

    </table>
    </div>
</div>
<{/if}>



<script>
function show_delivery_item(cur_obj,key,item_info){
    if($defined($(cur_obj).getParent().getNext("div[id="+key+"]"))){
        var obj = $(cur_obj).getParent().getNext("div[id="+key+"]");
        if(obj.style.display == 'none'){
        	obj.style.display = '';
        }else{
        	obj.style.display = 'none';
        }
    }else{
        var div1 = new Element("div",{
                'id' : key,
                'style' : 'overflow:hidden;height:100%;',
                'class' : 'note'
            }).inject($(cur_obj).getParent(),'after');
        var div2 = new Element('div',{
                'style' : 'clear:left'
            }).inject(div1);

        item_info.each(function(item){
                new Element('div',{'class':'span-9'}).set('text','购买的商品：'+item['name']).inject(div2);
                new Element('div',{'class':'span-9'}).set('text','数量：'+item['number']).inject(div2);
            });
    }
}

$('.lnk').bind('click', function(){
    //           window.JsInterface.copy("<{$delivery.logi_no}>");
    //           alert("到物流查询界面，请直接长按文本框粘贴进行查找");
    var url = "<{$webroot_url}>index.php?ctl=member&act=getDeliveryUrlMatrix&order_id=<{$order.order_id}>";
    window.location.href=url;
    // window.JsInterface.newPage(url);
});
</script>

</div>
</div>
 -->