
<div class="division gridlist">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td style=" white-space:normal; text-align:left;">自身 Node Id: <span class="fontcolorOrange fontbold"><{$res.from_node_id}></span></td>
        </tr>
        <tr>
            <td style=" white-space:normal; text-align:left;">OME Node Id: <span class="fontcolorOrange fontbold"><{$res.to_node_id}></span></td>
        </tr>
        <tr>
            <td style=" white-space:normal; text-align:left;">msg_id号: <span class="fontcolorOrange fontbold"><{$res.msg_id}></span></td>
        </tr>
        <tr>
            <td style=" white-space:normal; text-align:left;">返回结果: <span class="fontcolorOrange fontbold"><{$res.status}></span></td>
        </tr>
        <tr>
            <td style=" white-space:normal; text-align:left;">返回消息: <span class="fontcolorOrange fontbold"><{$res.message}></span></td>
        </tr>   
        <tr>
            <td style=" white-space:normal; text-align:left; width:100px;">发送信息: <span class="fontcolorOrange fontbold" style="word-break: break-all;"><{$res.data}></span></td>
        </tr>
    </tbody>
</table>
</div>
